<div class="footer">
    <div class="head_footer">
    <img src="logo_k.svg" id="logo1" ></img>
    <h2 id="footer_h2">AMINUZA
        </div>
        <div class="footer_mid">
            <div class="mid_1">
                <ul>
                    <li id="li_footer">Contact US</li>
                    <li id="li_footer">About us</li>
                    <li id="li_footer">Directions</li>
                    <li id="li_footer">Blog</li>
                </ul>
            </div>
            <div class="mid_2">
                <ul>
                <li id="li_footer">Promotions</li>
                <li id="li_footer">Parteners</li>
                <li id="li_footer">Careers</li>
                <li id="li_footer">FAQs</li>
            </ul>
        </div>
        <div class="mid_3">
            <ul>
                <li id="li_footer">hire web_developer</li>
                <li id="li_footer">more on consultancy</li>
                <li id="li_footer">not sure ! email us</li>
        </ul></div>
    </div>
        </div>
        <div class="footer_end">
            <h4 id="footer_h4">©copyright @2023</h4>
        </div>
   