<div class="navigation_bar">
    <div class="nav_head">
<img src="logo_k.svg" id="logo"></img>
    <h2 id="nav_h2">AMINUZA
        
    </h2>
    </div>
    
    <ul id="nav_ul">
        
        <li id="nav_li"><i class="fa fa-house" id="nav_side_icons"></i><a id="nav_a">Home</a></li>
        
        <div id="nav_li_special">
            <li id="nav_l"><a id="nav_a">reference
                <svg width="8" height="6" viewBox="0 0 8 6" class="figma-1vkg3ei"><path d="M4 6L0.535898 0L7.4641 0L4 6Z" fill="currentColor"></path></svg>
            </a></li>
            <div  class="hover1"> 
                <li id="nav_hov"><a id="nav_a">UR</a></li>
                <li id="nav_hov"><a id="nav_a">ALU</a></li>
                <li id="nav_hov"><a id="nav_a">RICA</a></li>
                <li id="nav_hov"><a id="nav_a">Kepler university</a></li>
                <li id="nav_hov"><a id="nav_a">DAVIS college</a></li>
            </div>
        </div>
        <li id="nav_li"><i class="fa fa-user"></i> <a id="nav_a"> members</a></li>
        <li id="nav_li"><a id="nav_a"> about</a></li>
        <li id="nav_li_btn"><a id="nav_btn">APPLY</a></li>
       
        
    </ul>
    <i class="fas fa-bars" id="bars"></i>
</div>
