<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="index.css">
    <title>BLOG wEBSITE</title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    
 
    
        <!-- font awesome social_icons -->
        <div class="socials_side">
            <i class="fab fa-facebook" id="social_icons"></i>
            <i class="fab fa-instagram" id="social_icons"></i>
            <i class="fa-brands fa-youtube" id="social_icons"></i>
            <i class="fab fa-twitter" id="social_icons"></i>
            <i class="fa-brands fa-paypal" id="social_icons"></i>
        </div>
        <!-- image slider for university pictures -->
<!--      
        <center>
            <div class="content_center">
        <div class="image_slider">
        
            <img src="maxresdefault(1).jpg" height="350px" id ="slide">
            <img src="maxresdefault(2).jpg" height="350px" id ="slide">
            <img src="maxresdefault(3).jpg" height="350px" id ="slide">
            <img src="maxresdefault(4).jpg" height="350px" id ="slide">
        
        
     -->
     <div class="container_landing">
        <div class="slide_big">  
        <img src="https://vastphotos.com/files/uploads/social/good-morning-new-york.jpg" id="img_content" alt="">
        <img src="https://media.gettyimages.com/photos/students-life-picture-id511652302?s=2048x2048" id="img_content">
        <img src="https://media.gettyimages.com/photos/smiling-male-student-with-exam-papers-at-desk-picture-id1171004789?s=2048x2048" id="img_content">
    </div>
     <div class="landing_content">

        <h2  id="content_h2">university,college<br> education in Rwanda</h2>
        <p id="content_p">get the education you neeed to secure a<br> good paying job! </p>
        <input type="button" value="contact US" id="content_btn">
     </div>
    </div>
     <div class="content_upper">
        <div class="upper_1">
            <h3 id="content_h3">It's cheap </h3>
            <p id="content_p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur
                 aliquam impedit ex esse ea nihil repudiandae ut! Commodi ut suscipit sed praesentium earum 
                 officia neque perferendis voluptate eligendi porro?</p>
        </div>
        <div class="upper_2">
            <h3 id="content_h3">It's easy </h3>
            <p id="content_p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur
                 aliquam impedit ex esse ea nihil repudiandae ut! Commodi ut suscipit sed praesentium earum 
                 officia neque perferendis voluptate eligendi porro?</p></div>
        <div class="upper_3">
            <h3 id="content_h3">It's reliable </h3>
            <p id="content_p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur
                 aliquam impedit ex esse ea nihil repudiandae ut! Commodi ut suscipit sed praesentium earum 
                 officia neque perferendis voluptate eligendi porro?</p></div>
     </div>
    </div>
    
   
</div>
    <div class="content_mid">
        <h2 id="content_mid_h2">what we offer?</h2>
        <h3 id="content_mid_p">On her way she met a copy. The copy warned the Little Blind Text, that 
            where it came from it would have been rewrittena thousand times and 
            everything that was left from its origin would be the word
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Hic, sapiente quam. Iusto quae blanditiis deleniti enim! Sit placeat sed reprehenderit quam dolorum optio necessitatibus 
            animi vitae dignissimos cupiditate, amet labore.
        </h3>
        <div class="content_mid_container">
            <div class="container1">
                <i class="fas fa-user-shield" id="container_icons"></i>
                 <h3>safety<br> Far far away, behind the 
                    word mountains, far from the 
                    countries Vokalia.</h3>
               
            </div>
            <div class="container1">
                <i class="fa-solid fa-user-graduate" id="container_icons"></i>
                <h3>regular classes<br>Far far away, behind the 
                    word mountains, far from 
                    the countries Vokalia.</h3>
            </div>
            <div class="container1">
                <i class="fa-solid fa-stamp" id="container_icons"></i>
                <h3>certified teachers<br>
                    Far far away, behind the 
                    word mountains, far 
                    from the countries 
                    Vokalia.</h3>
                    
            </div>
            <div class="container1">
                <i class="fa-solid fa-chalkboard" id="container_icons"></i>
                <h3>
                    creative lessons<br>
                    Far far away, behind the 
                    the countries Vokalia
                    word mountains, far from 
                </h3>
            </div>  
        </div>

    </div>
    <div class="content_mid_page">
        <div class="parallax">
        <h2  id="content_mid_page_h2" >what are you waiting for</h2>
        <button id="apply_btn">apply now</button>
    </div>
    </div>
    <%- include('./partials/footer')  %>          
    </div> 
    
  





    <script defer src="index.js"></script>
</body>
</html>